@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');





body
{
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}
header
{
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url('../img/main-bg.jpg');
    background-size: cover;
    background-position: center top;
}
a, button, #seeMoreDropdown
{
    cursor: pointer;
}
h3, h2, h4, h5, #navDropDownContainer
{
    font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.page_title
{
    font-family: gugi;
}
._service
{
    margin-bottom: 10%;
}
.sns-links
{
    background-image: url('../img/sns-bg.jpg'); 
}
#boundary
{
    margin-top: 5%;
    margin-bottom: 5%;
}
.card-box:hover
{
    cursor: pointer;
    
}
.cards:hover
{
    background-color: rgb(255, 217, 247);
}
.card 
{
    border: none;
}
.linkButton
{
    padding: 0;
    margin: 0;
}
.news
{
    background-image: url('../img/news-bg.jpg');
}
.ArtCookNav
{
    background-color: #000000;
}

.navbar-toggler-icon
{
    filter: invert(1);
}
.nav-item
{
    color:white;
}
.nav-link
{
    color: #be9725
}
.nav-link:hover, .nav-link:active
{
    color: #ffc107 !important;
}
#seeMoreDropdown,#navMenuDropDownLink, .nav-link:enabled
{
    color: #be9725;
    background-color:#000000;
}
#seeMoreDropdown>li
{
        color: #be9725;
}
/*
#cookBtn
{
    border-radius: 18px;
    background-color: transparent;
    border: solid 1px yellow;
}
*/

::-webkit-scrollbar-track
{
    background-color: rgba(0,0,0,0) !important;
    background: transparent !important;
}
::-webkit-scrollbar
{
    background-color: transparent !important;
}
