@font-face 
{
    font-family: 'Nitw P1';
    src: url('../etc/nitwp1_regular.otf') format('opentype');
}

a:any-link
{
    -webkit-user-drag:none;
    -webkit-user-select:none;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
    /* Custom Cursor */
    cursor: url("https://github.com/glassedCat/Resources/raw/main/Mae-Cur.png"), 
    url("https://github.com/glassedCat/Resources/raw/main/Mae-Cur.cur"), default;
} 
body, p, h1, h2, h3, h4, a, title
{
    font-family: 'Nitw P1', sans-serif;
}
.titleBox>h1
{
    font-size: 4rem;
    margin-top: 80px;
    margin-bottom: 20px;
}
body
{
    background-image: url('../etc/background.png');
    background-size: cover;
    max-height: 1080px;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 0.725em;
    color: white;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
img,
img:any-link
{
    -webkit-user-drag:none;
    -webkit-user-select:none;
}
h2, h4
{
    font-weight: normal;
}
::-webkit-scrollbar
{
    height: 0px;
    width: 0px;
    display: none;
}
::-webkit-scrollbar-thumb
{
    background-color: transparent;
}
::-webkit-scrollbar-track
{
    background: transparent;
    background-color: transparent;
}
::-webkit-scrollbar-corner
{
    background-color: transparent;    
}
.copyright_section
{
    font-size: 1.2em;
    color: rgb(158, 158, 158);
}
.copyright_section > a
{
    color: #c63a18;
}
.IFLogo
{

   width: 100%;
   max-width: 50px;
   height: auto;
}
.pageLink
{
    font-size: 2.65em;
}
.pageImages
{
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 12px;
}


/* Choose another element to modify when the tag is hovered. */
/* Must id(#Name) instead of class(.Name) */

/* Usage: 
    A:hover > B {}: Use when it is directly inside the container. 
    A:hover + B {}: Use when it is next to the container.
    A:hover B {}: Use when it is somewhere in the container. 
    A:hover ~ B {}: Use when it is a sibling of the container.
*/
.FooterAnime
{
    background-color: transparent;
    border-color: transparent;
    margin-left: 0;
    align-items: left;
}
#GregShaking,
#GregAngusShaking
{
    height: 100%;
    max-height: 125px;
    width: auto;
    object-fit: cover;
    -webkit-user-drag:none;
    -webkit-user-select:none;
    cursor: url("https://github.com/glassedCat/Resources/raw/main/Mae-Cur.png"), 
    url("https://github.com/glassedCat/Resources/raw/main/Mae-Cur.cur"), default;
}
._section
{
    padding: 0;
}
.pageLinks
{
    color: white;
}
.pageLinks:hover
{
    color: #00fef9;
}
#GregShaking
{

}
#GregAngusShaking
{

}

